.mainDiv {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.mainSpan {
  background: transparent;
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.mainDiv:hover .mainSpan {
  color: #77002e;
  transform: scale(1.1);
}